

p {


}

body {

	background-image: url("../images/persona5bg.png");
}


.form-horizontal{

	background-color: white;
	width: 800px;
	text-align: center;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 10px;

}

h1{
	text-align: center;


}


#introhead{

	text-align: center;

}

.container-fluid{
	


}




/*viewport info*/
@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}